/*CSS DOCUMENT*/

img {width: 100%; 
}

/*index*/

.heading h1{
font-family: 'Trade Winds', sans-serif;
font-size: 4em; 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    text-align: center;
    margin-left: 1.1em;
    display: block;
    font-size: 5em;
}

div.image {
    background-color: #EB7351;
    padding: 0.5em;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

body{
background-color: #FFDFB8;
}

h1 {
    text-align: center;
    font-family: sans-serif;
    color: #EB7351;
    margin-top: 0.5em;
}

button{
    background-color: #EB7351;;
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 10%;
    max-width: 50%;
    }

a{
text-decoration: none;
}

.main ul {
    list-style-type: none;
    font-family:sans-serif;
    margin-top: 0.5em;
    margin-bottom: 1em;
    margin-right: auto;
    text-align: center;
    font-size: 1.6em;
    margin-left: auto;
  
}

.main li {
text-align: center;
display: inline;
    margin-left: 1.5em;;
    margin-right: 1.5em;
    
}

.menu li:hover {
    background: #EB7351;
    cursor: pointer;
}

.main li:hover{
    background: #EB7351;
    cursor: pointer;
    
  
}

.main a{
    color: #B32A23;
}

.main{
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

h2{
    text-align: center;
    font-family: sans-serif;
    font-size: 1.5em;
    color: rgb(0,0,0);
}

.address {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.8em;
}

h3 {
    font-family: sans-serif;
    font-size: 2em;
    text-align: center;
    display: block;
    margin-right: auto;
    margin left: auto;
    color: rgb(0,0,0);
    }

/*menu*/

.menu ul{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
}

.menu h2{
    text-align: center;
    margin-left: 1.5em;
    display: block;
    font-size: 1.7em;
}


/*location*/

iframe {

    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul li{
    text-align: center;
    list-style-type: none;
    font-family: sans-serif;
    margin-right: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    font-size: 1.2em;
}

div.menu a{
    text-decoration-line: none;
    color: #B32A23;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

h5 {
    font-family: sans-serif;
    font-size: 1.5em;
    text-align: center;
    margin: 0.5em 0.5em 0.5em 0.5em;
    }

/*gallery*/

div.gallery{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2em 1em 1em 1em;
    background-color: #EB7351;
    padding: 0.5em;
    margin-bottom: 1em;
    
}

.gallery p{
    padding: 0em 3em 3em 3em;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    
    
}

/*aboutus*/


p {
    text-align: center;
    font-family: sans-serif;
    font-size: 1.2em;
    padding: 0.2em 3em 0.2em 3em;
    max-width: 50em;
    min-width: 10em;
    margin-left: auto;
    margin-right: auto;
}

.crew{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #EB7351;
    padding: 0.5em;
    margin-bottom: 1em;
    
}

@media only screen and (min-width:40em){
    .gallery p{
        width: 40%;
    }
    div.image {
        width: 70%;
    }
    div.gallery{
        width: 40%;
    }
    .main ul{
        width: 70%;
    }
    .crew{
    width: 55%;
    }
    .address{
        width: 50%;
    }
}