/*CSS DOCUMENT*/

img {width: 100%; 
}


/*index*/

div.image {
    background-color: #B3955D;
    padding: 1em;
    align-content: center;
}
body{
    background-color: #FFDFB8;
}

h1 {
    text-align: center;
    font-family: sans-serif;
    color: #4A5480;
    margin-top: 0.5em;
}

button{
    background-color: #CDC5BF;
    color: #737373;
    
    
}


.main ul {
    list-style-type: none;
    font-family:sans-serif;
    margin-top: 0.5em;
    margin-bottom: 1em;
    margin-right: auto;
    text-align: center;
    font-size: 1.5em;
    
    

}
.main li {
    text-align: center;
    display: inline;
    

  
}
.menu li:hover {
  background: #F1F3F4;
  cursor: pointer;

 
}
.main li:hover{
    background: #FFD285;
    cursor: pointer;
}

.main a{
    color: #B32A23;
    margin
}

.socialmedia{
    width: 5%;
    
    
}


h2{
    text-align: center;
    font-family: sans-serif;
    font-size: 1.5em;
    color: #803E3E;
}
.address {
    text-align: center;
    font-family: sans-serif;
}

.address li{
    text-align: center;
    font-size: 0.8em;
    list-style-type: none;
}

.rights{
    text-align: center;
    font-family: sans-serif;
    font-size: 0.5em;
    
}

.facebook{
    float:left;
    width: 3%;
    align-content: center;
    
}

.twitter{
    float:left;
    width: 3%;
    margin-left: 0.5em;
    align-content: center;
}

/*menu*/

div.menu ul{
    text-align: center;
    list-style-type: none;
    font-family: sans-serif;
    

}

/*location*/


ul li{
    text-align: center;
    list-style-type: none;
    font-family: monospace;
    
}
div.menu a{
    text-decoration-line: none;
    color: #EB4223;
}

h5 {
    font-family: sans-serif;
    font-size: 1.7em;
    text-align: center;
    
}




/*gallery*/

div.gallery{
    text-align: center;
}




/*aboutus*/

p {
    text-align: center;
    font-family: sans-serif;
    font-size: 1em;
    color: #FF5702;
    padding: 2em 2em 2em 2em;
    
}